:root {
  /* Victor Verion */
  --darker-color: #ff0000;
  --dark-color: #11cbd7;
  --light-color: #c6f1e7;
  --lighter-color: #f0fff3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 20px;
}

h1 {
  /* color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
}

.computer-fleet {
  border: 1px solid red;
}

.computer-board-container, .human-board-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.territory {
  position: absolute;
  top: 1rem;
  font: 1.5em sans-serif;
  font-weight: bold;
}

.enemy {
  color: red;
}

.my {
  color: green;
}

.cheat-container {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5px;
}

.human-fleet {
  border: 1px solid red;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
}

.cell {
  position: relative;
  background-color: blue;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* border: 1px blue solid; */
  overflow: hidden;
}

.image {
  position: absolute;
}

.show {
  opacity: 50;
  background-color: lightblue;
}

.bomb {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  z-index: 100;
}

.missed {
  background-color: white;
}

.hit {
  background-color: red;
}

.human-fleet-container {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr 1fr;
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toggle switch to show/hide enemy ships */


/* The size of the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider that the circle can move */
/* same size as the toggle switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

/* The circle that moves in the slider */
/* Before it is checked, the indicator (square) is on the left */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Change toggle switch background color when it is clicked */
/* Thethe + is used to select the .slider immidiately follow the input:checked */
/* The styling applies to the .slider */
input:checked + .slider {
  background-color: var(--darker-color);
}

/* When checked, move indicator to the right by 16px */
input:checked + .slider:before {
  transform: translateX(16px);
}

/* Make slider have round corners */
.slider.round {
  border-radius: 10px;
}

/* Make the indicator round */
.slider.round:before {
  border-radius: 50%;
}