:root {
  /* Victor Verion */
  --darker-color: #ff0000;
  --dark-color: #11cbd7;
  --light-color: #c6f1e7;
  --lighter-color: #f0fff3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem auto 4rem 1rem;
  background-image: url(./images/background.jpeg);
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  filter: grayscale(50%);
}

h1 {
  /* color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 3rem;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.7);
}

main {
  display: grid;
  grid-template-columns: 17fr 33fr 33fr 17fr;
}

.computer-fleet {
  border: 1px solid red;
}

.computer-board-container, .human-board-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.territory {
  position: absolute;
  top: 2rem;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.enemy {
  color: red;
}

.my {
  color: green;
}



.human-fleet {
  border: 1px solid red;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  background: white;
}

.cell {
  position: relative;
  background-color: blue;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* border: 1px blue solid; */
  overflow: hidden;
}

.image {
  position: absolute;
}

.show {
  opacity: 50;
  background-color: lightblue;
}

.bomb {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  z-index: 10;
}

.missed {
  background-color: white;
}

.hit {
  background-color: red;
}

.draggedOver {
  background-color: green;
}
.draggedOver-red {
  background-color: red;
}

.computer-fleet-container, .human-fleet-container {
  display: grid;
  grid-template-rows: 2fr 3fr 1fr 1fr;
  background-color: lightgrey;
  opacity: 0.8;
  border-radius: 5px;
  z-index: 10;
  margin: 5rem 1rem 5rem 1rem;
}

.deploy-heading, .ship-container,  .rotate-container, .rotate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deploy-heading {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.ship-image {
  cursor: pointer;
}

.rotate-btn {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  background-color: gray;
  border-radius: 5px;
}

.deploy-failed {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.turn {
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 2rem;
  position: relative;
  text-shadow: 1px 1px 2px red;
}

#random-deploy {
  position: absolute;
  right: 1vw;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  width: 15vw;
  background-color: gray;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

/* Toggle switch to show/hide enemy ships */
.cheat-container {
  position: absolute;
  bottom: 2rem;
  display: flex;
  gap: 5px;
}

.cheat-container>p {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

/* The size of the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider that the circle can move */
/* same size as the toggle switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
}

/* The circle that moves in the slider */
/* Before it is checked, the indicator (square) is on the left */
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Change toggle switch background color when it is clicked */
/* Thethe + is used to select the .slider immidiately follow the input:checked */
/* The styling applies to the .slider */
input:checked + .slider {
  background-color: var(--darker-color);
}

/* When checked, move indicator to the right by 16px */
input:checked + .slider:before {
  transform: translateX(16px);
}

/* Make slider have round corners */
.slider.round {
  border-radius: 10px;
}

/* Make the indicator round */
.slider.round:before {
  border-radius: 50%;
}